---
const { CONTENT, MB = false } = Astro.props;
---

<section
  class={`flex flex-col max-w-7xl mx-6 lg:mx-auto mt-24 gap-4 ${MB ? "mb-24" : ""}`}
>
  {CONTENT && <h2>{CONTENT.TITLE}</h2>}
  {
    CONTENT && (
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-12">
        {CONTENT.ITEMS.map((item: any, index: number) => (
          <div
            data-aos="zoom-in-up"
            class="w-full h-16 lg:h-28 flex items-center justify-center"
          >
            <a
              href={item.HREF}
              target="_blank"
              class="h-full flex items-center justify-center hover:scale-105 transition-all duration-300"
            >
              <img
                loading="lazy"
                src={item.IMG}
                alt={item.TITLE}
                class="max-w-full max-h-full w-auto h-auto object-contain"
              />
            </a>
          </div>
        ))}
      </div>
    )
  }
</section>
