---
interface Props {
  CONTENT: {
    IMG?: string;
    TITLE?: string;
    SUBTITLE?: string;
  };
  MT?: boolean;
}

const { CONTENT, MT } = Astro.props;
---

<main id="hero" class="relative text-white flex items-center h-[68vh]">
  <div
    class="parallax-hero h-full w-full absolute after:absolute after:inset-0 after:bg-[var(--color-primary)]/25 after:z-10 brightness-80"
    style={`background-image: url('${CONTENT.IMG}');`}
    role="img"
    aria-label="banner background"
  >
  </div>
  <div
    class={`max-w-7xl w-full lg:mx-auto flex items-start justify-center flex-col relative z-20 px-6 gap-4 ${MT ? "mt-12 lg:mt-32" : ""}`}
  >
    {
      CONTENT.TITLE && (
        <h1
          data-aos="fade-right"
          class="text-5xl lg:text-6xl font-bold text-left w-full text-white"
          set:html={CONTENT.TITLE}
        />
      )
    }
    {
      CONTENT.SUBTITLE && (
        <h2
          data-aos="fade-right"
          class="!font-normal !text-xl lg:!text-2xl text-left lg:!w-2/3 !text-white"
          set:html={CONTENT.SUBTITLE}
        />
      )
    }
  </div>
</main>

<style>
  .parallax-hero {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
