---
const { i18n } = Astro.props;
---

<div class="flex justify-center items-center gap-4">
  {
    i18n.NETWORKS.map((item: any) => (
      <a href={item.HREF} title={item.TITLE} target="_blank" rel="noreferrer"class="bg-white/3 backdrop-blur-sm border border-white/25 rounded-full p-2 hover:bg-white/25 transition-all">
        <img src={item.IMG} alt={item.TITLE} class="w-auto h-9 hover:brightness-125 pointer-events-none" />
      </a>
    ))
  }
</div>
